body{
  font-family:"lato, sans-serif;
    background-color:red;}

.tab{\
  float:left;
  border: 1px solid #ccc;
  background-color:@f1f1f1;
  width30%;
  height:300px;
}
.tab button{
  display:block;
  background-color:inherit;
  color:black;
  padding 22px 16px;
  width: 100p%;
  cursor:pointer;
  font-size17px{
    
    
  #horizantal {
    list-style: none;
    padding: 20px; 
    overflow: hidden;
    background-color: gray; 
    witdh: 1500px; 
    word-spacing: 50px;
    }
    .hornav{
      margin-left: 20px; 
    }
    .active{
      background-color: #555;
      padding:20px; 
      list-style type: none;
      margin-right: 10px;
    }
    li a:hover {
      background-color: #544c4a;
      padding: 20px;}
    img {
      float: right; 
      margin-top:20px;
